@import "tailwindcss";

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    min-height: 100vh;
}

.main h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.weather-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.weather-form input {
    padding: 8px;
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-form button {
    padding: 8px 16px;
    border: 1px solid #0070f3;
    border-radius: 4px;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
}

.weather-data {
    min-width: 30%;
    background: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
}