@import "tailwindcss";
.div {
    display: block;
    unicode-bidi: isolate;
}

.inline-block {
    display: inline-block;
}

.wob-unit{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin-top: 6px;
    padding-left: 6px;
    vertical-align: top;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    min-height: 100vh;
}

.main h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.weather-form {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;
}

.weather-form input {
    padding: 15px 20px;
    flex: 1;
    background: #fff;
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    border-radius: 26px;
    margin: 0 auto;
    box-sizing: border-box;
}

.weather-form input:focus {
    outline: none;
}

.weather-form button {
    width: 56px;
    height: 56px;
    flex: 1;
    border: 1px solid #0070f3;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    border-radius: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background: #0070f3;
    color: white;
    cursor: pointer;
}

.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: inline-block;
    width: 50%;
}

.weather-data {
    display: inline-block;
    background: #ffffff;
    padding: 15px;
}

.weather-icon {
    display: inline-block;
    margin-top: unset;
    vertical-align: top;
}

.weather-temp {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.weather-info {
    display: inline-block;
    margin-left: 15px;
    text-align: left;
}

.info-p {
    font-size: 0.8rem;
    color: #555;
    line-height: 1;
}

.weather-icon, .weather-temp, .weather-info {
    height: 50px;
}

@keyframes loadingAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-icon {
    animation: loadingAnimation 1s linear infinite;
}
